<!-- about Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                      <p class="primary xlarge">SoleDrop is a climbing shoe resoler founded to take the pain out of
                      resoling climbing shoes. We gaurantee that your shoes will be resoled within one week
                      or your money back! Gone are the days of buying boxes, going to UPS/USPS/FedEx, shipping your
                      shoes away, and waiting months to get them back.</p>
                      <p class="primary xlarge">While it's important to us that resoling climbing shoes is both fast and
                      convenient for our customers, we do so without sacrificing our principles of environmental responsibility and treating workers humanely.</p>
                      <br/>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-tachometer-alt fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">FAST!</h4>
                    <p class="text-muted">We maintain a low shoe-to-cobbler ratio to ensure that we don't take more orders than we can resole in a week. This is essential to our 1-week guarantee, and prevents overworking the wonderful cobblers who toil to keep your shoes in sending shape. When a local area consistently has more orders than the shoe-to-cobbler ratio allows, we hire to meet demand. This obviously means that we sometimes put orders on pause until we are able to handle more volume.
</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-tree fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Environtmentally Friendly</h4>
                    <p class="text-muted">We take the environmental impact of our sport seriously. Resoling shoes not only reduces rubber waste, but Soledrop takes these environmental savings one step further by making sure that your shoes never leave your local area.
                    </p>
                    <p class="text-muted">The transportation industry contributes nearly 2 billion metric tons of CO2 emissions annually, and we believe that getting your shoes resoled shouldn't be part of that problem. When reducing environmental waste is actually <i>more convenient</i> than waste, everyone wins!
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-map-marker-alt fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Keep it local</h4>
                    <p class="text-muted">We partner with local gyms, businesses, and cobblers to make sure that your shoes never leave the local area. This means no trips to the post office, UPS, or Fedex for you, and that you'll be sending in your favorite pair of shoes in one short week instead of months.
</p>
                </div>
            </div>
        </div>
    </section>
