<!-- about Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                      <p class="primary xlarge">SoleDrop is a rock shoe resoler founded to simplify the resoling process.
                      We gaurantee that your shoes will be resoled within a week or your money back!
                      Gone are the days of finding shipping material and a courier (UPS, USPS, FedEx, etc.) to
                      ship your shoes away -- and then waiting months to get them back!</p>
                      <p class="primary xlarge">While it is important to us that resoling climbing shoes is both fast
                      and convenient for our customers, it is equally important that we do so without sacrificing our
                      principles of environmental responsibility and treating workers humanely.</p>
                      <br/>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-tachometer-alt fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">FAST!</h4>
                    <p class="text-muted">We maintain a low shoe-to-cobbler ratio to ensure that we don't take more orders than we can resole in a week. This is essential to our 1-week guarantee, and prevents overworking the wonderful cobblers who toil to keep your shoes in sending shape.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-tree fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Environtmentally Friendly</h4>
                    <p class="text-muted">We take the environmental impact of our sport seriously. Resoling shoes not
                    only reduces waste, but Soledrop takes the environmental savings of resoling one step further by
                    making sure your shoes never leave your local area.
                    </p>
                    <p class="text-muted">The transportation industry contributes nearly 2 billion metric tons of CO2 emissions annually, and we believe that getting your shoes resoled shouldn't be part of that problem. When reducing environmental waste is actually <i>more convenient</i> than waste, everyone wins!
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-map-marker-alt fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Keep it local</h4>
                    <p class="text-muted">We partner with local gyms, businesses, and cobblers to ennsure that your
                    shoes never leave the local area. This means no trips to the post office, UPS, or Fedex for you, and
                    you'll be back in your favorite pair of sending shoes in one short week.
</p>
                </div>
            </div>
        </div>
    </section>
