<!-- How it Works Section -->
    <section id="how-it-works">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">How it works</h2>
                    <h3 class="section-subheading">The SoleDrop journey begins by finding a dropoff location
                      near you. If there are none near you, <a href="#sign-up">SIGN UP</a> and you'll be notified when
                      one opens in year area!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image first">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1. Place your order in the app</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Your place an order in the app and choose the location
                                    you'd like to pick up and drop off your shoes.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                          <div class="timeline-image second">
                          </div>
                             <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2. Drop Off</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Drop your shoes off at the nearest SoleDrop. An order tag will
                                    be attached to your shoes so we know which are yours.</p>
                                </div>
                            </div>
                        </li>
       ee                 <li>
                          <div class="timeline-image third"></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>3. Pick up one week later</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Your shoes will be ready for pickup in a week, or your money
                                    back!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                              <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                           </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Happy Sending!</h4>
                                    <h4 class="subheading">See you next time</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">You'll be satisfied with our results and we hope to see you
                                    again!</p>
                                </div>
                            </div>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
