<!-- How it Works Section -->
    <section id="how-it-works">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">How it works</h2>
                    <h3 class="section-subheading">The SoleDrop journey begins by placing an order for the drop-off
                      location nearest you. If there are none, <a class="link" href="#sign-up">SIGN UP</a> and you'll be notified when
                      one opens in year area!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image first">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1. Place your order in the app</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Place an order in the app and choose the location you would like
                                    to drop off and pick up your shoes</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                          <div class="timeline-image second">
                          </div>
                             <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2. Drop Off</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Drop off your shoes at the location you picked. We'll tag your
                                    shoes so they don't get lost.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                          <div class="timeline-image third"></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>3. Pick up one week later</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Your shoes will be ready for pick-up in a week or your money
                                    back!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                              <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                           </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Happy Sending!</h4>
                                    <h4 class="subheading">See you next time</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">You will be satisfied with your resole and we await your next SoleDrop!</p>
                                </div>
                            </div>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
